<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        Lista de Clientes
      </li>
      <li class="breadcrumb-item">
        Promedio Edad <span>{{average | number:'0.2-2'}}</span>
      </li>
      <li class="breadcrumb-item">
        Desviación Estándar <span>{{deviation | number:'0.2-2'}}</span>
      </li>
    </ol>
  </nav>
  <div>
    <app-table-client [clients]="clients" (onEdit)="onClickEdit($event)" (onDelete)="onClickDelete($event)"  ></app-table-client>
  </div>
</div>
