.form-client {
    .button-options {
        text-align: right;
    }

    .form-error {
        width     : 100%;
        margin-top: .25rem;
        font-size : 80%;
        color     : #dc3545;
    }
}